In [2]:
import pandas as pd

In [22]:
daily_rp = pd.read_csv("data/daily_report.csv")
daily_rp = daily_rp[["Country_Region","Confirmed","Deaths","Recovered","Active"]]
print(daily_rp.head())
rp_summary = daily_rp[["Confirmed","Deaths","Recovered","Active"]].sum()
print(rp_summary)
rp_summary = rp_summary.reset_index(name="count")
print(rp_summary)
rp_summary = rp_summary.rename(columns={"index":"condition"})
rp_summary

  Country_Region  Confirmed  Deaths  Recovered   Active
0    Afghanistan      66275    2812    56295.0   7168.0
1        Albania     132215    2445   128826.0    944.0
2        Algeria     127107    3426    88497.0  35184.0
3        Andorra      13569     127    13234.0    208.0
4         Angola      32623     731    27087.0   4805.0
Confirmed    167316260.0
Deaths         3473247.0
Recovered    104247872.0
Active        27014615.0
dtype: float64
       index        count
0  Confirmed  167316260.0
1     Deaths    3473247.0
2  Recovered  104247872.0
3     Active   27014615.0

   condition        count
0  Confirmed  167316260.0
1     Deaths    3473247.0
2  Recovered  104247872.0
3     Active   27014615.0